* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FEF4F7;
}

#root {
  height: 100%;
}

@font-face {
  font-family: "poppins";
  src: url("/public/font/Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("/public/font/MaterialIcons-Regular.woff2") format("woff2");
}
